body {
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    position: absolute;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: auto;
    left:35%;
    top:20%;
}

#clock {
    float: right;
}

#startButton {
    background-color: cornflowerblue;
    margin-left: auto;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

#questionSection {
    margin: 15px;
}

#back {
    background-color: cornflowerblue;
    position: relative;
    padding: 10px;
    text-align: center;
    width: auto;
    color: white;
    top: 30%;
    font-size: 20px;
    left: auto;
}

button {
    border-radius: 5px;
}

h1 {
    text-align: center;
}

#reset {
    background-color: cornflowerblue;
    position: relative;
    color: white;
    top: 30%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#submit {
    background-color: cornflowerblue;
    font-size: 20px;
    color: white;
    margin-left: 5%;
    padding: 15px 30px;
    text-align: center;
}

li {
    background-color: cornflowerblue;
    margin-top: 10px;
    width: 80%;
    font-size: 16px;
    color: white;
    padding: 5px 15px;
}
